LoanAmountProxy/src/www.webservicex.net/FinanceService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="LoanMonthlyPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Months" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanMonthlyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanMonthlyPaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanNumberOfPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="MonthlyPayment" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanNumberOfPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanNumberOfPaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseMonthlyPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ResidualValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Months" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseMonthlyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeaseMonthlyPaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExtraCost" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Months" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="APRResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoanMonthlyPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:LoanMonthlyPayment" />
  </wsdl:message>
  <wsdl:message name="LoanMonthlyPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:LoanMonthlyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:LoanNumberOfPayment" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:LoanNumberOfPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:LeaseMonthlyPayment" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:LeaseMonthlyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="APRSoapIn">
    <wsdl:part name="parameters" element="tns:APR" />
  </wsdl:message>
  <wsdl:message name="APRSoapOut">
    <wsdl:part name="parameters" element="tns:APRResponse" />
  </wsdl:message>
  <wsdl:portType name="FinanceServiceSoap">
    <wsdl:operation name="LoanMonthlyPayment">
      <wsdl:input message="tns:LoanMonthlyPaymentSoapIn" />
      <wsdl:output message="tns:LoanMonthlyPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <wsdl:input message="tns:LoanNumberOfPaymentSoapIn" />
      <wsdl:output message="tns:LoanNumberOfPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <wsdl:input message="tns:LeaseMonthlyPaymentSoapIn" />
      <wsdl:output message="tns:LeaseMonthlyPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="APR">
      <wsdl:input message="tns:APRSoapIn" />
      <wsdl:output message="tns:APRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceServiceSoap" type="tns:FinanceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoanMonthlyPayment">
      <soap:operation soapAction="http://www.webserviceX.NET/LoanMonthlyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <soap:operation soapAction="http://www.webserviceX.NET/LoanNumberOfPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <soap:operation soapAction="http://www.webserviceX.NET/LeaseMonthlyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APR">
      <soap:operation soapAction="http://www.webserviceX.NET/APR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceServiceSoap12" type="tns:FinanceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoanMonthlyPayment">
      <soap12:operation soapAction="http://www.webserviceX.NET/LoanMonthlyPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <soap12:operation soapAction="http://www.webserviceX.NET/LoanNumberOfPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <soap12:operation soapAction="http://www.webserviceX.NET/LeaseMonthlyPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APR">
      <soap12:operation soapAction="http://www.webserviceX.NET/APR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceService">
    <wsdl:port name="FinanceServiceSoap" binding="tns:FinanceServiceSoap">
      <soap:address location="http://www.webservicex.net/FinanceService.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceServiceSoap12" binding="tns:FinanceServiceSoap12">
      <soap12:address location="http://www.webservicex.net/FinanceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>